In [ ]:
!cat /proc/cpuinfo | grep model\ name

model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz

In [ ]:
import ast

def flat_object(obj, prefix=''):
    new_obj = {}
    for k, v in obj.items():
        if isinstance(v, dict):
            sub_obj = flat_object(v, prefix=f'{prefix}{k}_')
            new_obj = {**new_obj, **sub_obj}
        elif isinstance(v, str):
            try:
                elem = ast.literal_eval(v)
                if isinstance(elem, dict):
                    sub_obj = flat_object(elem, prefix=f'{prefix}{k}_')
                    new_obj = {**new_obj, **sub_obj}
                else:
                    new_obj[prefix + k] = elem
            except:
                new_obj[prefix + k] = v
        else:
            new_obj[prefix + k] = v
    return new_obj

In [ ]:
import json
import pandas as pd

def get_table(path):
    list_of_dicts = []
    with open(path, 'r') as f:
        for line in f:
            list_of_dicts.append(flat_object(json.loads(line)))
    df = pd.DataFrame.from_dict(list_of_dicts).dropna(axis=1, how='all')
    return df

In [ ]:
import hashlib

def md5hash(s: str):
    return hashlib.md5(str(s).encode('utf-8')).hexdigest()

def getmd5hash(prefix):
    return lambda x: md5hash(prefix + x)

## **business**

In [ ]:
business_df = get_table('/content/drive/MyDrive/Colab Notebooks/Yelp/yelp_academic_dataset_business.json')

business_df = business_df[business_df['categories'].notna()]
business_df['business_id'] = business_df['business_id'].apply(getmd5hash('business'))
business_df.insert(loc=0, column=':LABEL', value=['Business']*len(business_df))

In [ ]:
business_df.rename(columns={"business_id": "business_id:ID"}, errors='raise', inplace=True)

## **user**

In [ ]:
user_df = get_table('/content/drive/MyDrive/Colab Notebooks/Yelp/yelp_academic_dataset_user.json')
user_df.rename(columns={"user_id": "user_id:ID"}, errors='raise', inplace=True)
user_df.insert(loc=22, column=':LABEL', value=['User']*len(user_df))

## **review**

In [ ]:
review_df = get_table('/content/drive/MyDrive/Colab Notebooks/Yelp/yelp_academic_dataset_review.json')

In [ ]:
review_df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [ ]:
review_df['business_id'] = review_df['business_id'].apply(getmd5hash('business'))
review_df = review_df[review_df['business_id'].isin(business_df['business_id:ID'])]
review_df = review_df[review_df['user_id'].isin(user_df['user_id:ID'])]

review_df.insert(loc=0, column=':LABEL', value=['Review']*len(review_df))

# review_df['text'] = review_df['text'].str.replace('[",\\n,\\r]', '')
review_df['review_id'] = review_df['review_id'].apply(getmd5hash('review'))

In [ ]:
review_df.head()

,:LABEL,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,Review,14b7eabcf7250cac8884af3677c0b8af,mh_-eMZ6K5RLWhZyISBhwA,dad4fb57fcb08795f8ecf02cf2ee3136,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,Review,0baa75e21e14c71f057e9ad453082867,OyoGAe7OKpv6SyGZT5g77Q,8b8c650e3345cb1b190161312ecc0967,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,Review,af722966fda3d69d36a0ac9de0292e51,8g_iMtfSiwikVnbP2etR0A,602a7a1a2e5e454d6195162b5989509e,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,Review,50d32c50663bd2b424f57561a09cbfda,_7bHUi9Uuf5__HHc_Q8guQ,caf1bdfefe5207b1260d47a2ab8a4b08,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Review,a3383e594a74583aabcda6de8e3cb8a8,bcjbaE6dDog4jkNY91ncLQ,6e5872cbd2865949eb95ef1de1b4c4c7,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [ ]:
user_review_rels_df = review_df[['user_id', 'review_id', 'text', 'date']].copy()
# user_review_rels_df.insert(loc=2, column=':TYPE', value=['USER_REVIEW']*len(review_df))

In [ ]:
user_review_rels_df

,user_id,review_id,text,date
0,mh_-eMZ6K5RLWhZyISBhwA,14b7eabcf7250cac8884af3677c0b8af,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,OyoGAe7OKpv6SyGZT5g77Q,0baa75e21e14c71f057e9ad453082867,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,8g_iMtfSiwikVnbP2etR0A,af722966fda3d69d36a0ac9de0292e51,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,_7bHUi9Uuf5__HHc_Q8guQ,50d32c50663bd2b424f57561a09cbfda,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,bcjbaE6dDog4jkNY91ncLQ,a3383e594a74583aabcda6de8e3cb8a8,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...
6990275,qskILQ3k0I_qcCMI-k6_QQ,94e309064b7859538c514528e80db157,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
6990276,Zo0th2m8Ez4gLSbHftiQvg,2d0aa703beebc1996c58711a6e4b04e3,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
6990277,mm6E4FbCMwJmb7kPDZ5v2Q,eaac0ea0e1fb9aab851008575a49c98c,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
6990278,YwAMC-jvZ1fvEUum6QkEkw,0dab15fea0a38d0f706afeed71945194,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
6990279,6JehEvdoCvZPJ_XIxnzIIw,c8f2c9be46a45c9378399c7afd1066af,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

In [ ]:
!pip install nltk

In [ ]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

nltk.download('vader_lexicon')

In [ ]:
analyzer = SentimentIntensityAnalyzer()

In [ ]:
user_review_rels_df['text'] = user_review_rels_df['text'].astype(str)

In [ ]:
user_review_rels_df['sentiment_score'] =user_review_rels_df['text'].apply(lambda x: analyzer.polarity_scores(x)['compound'])

In [ ]:
user_review_rels_df.to_csv('/content/drive/MyDrive/user_review_rels.csv', index=False)

In [ ]:
user_review_rels_df

,user_id,review_id,text,date,sentiment_score
0,mh_-eMZ6K5RLWhZyISBhwA,14b7eabcf7250cac8884af3677c0b8af,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,0.8597
1,OyoGAe7OKpv6SyGZT5g77Q,0baa75e21e14c71f057e9ad453082867,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18,0.9858
2,8g_iMtfSiwikVnbP2etR0A,af722966fda3d69d36a0ac9de0292e51,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30,0.9201
3,_7bHUi9Uuf5__HHc_Q8guQ,50d32c50663bd2b424f57561a09cbfda,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,0.9588
4,bcjbaE6dDog4jkNY91ncLQ,a3383e594a74583aabcda6de8e3cb8a8,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15,0.9804
...,...,...,...,...,...
6990275,qskILQ3k0I_qcCMI-k6_QQ,94e309064b7859538c514528e80db157,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20,0.1027
6990276,Zo0th2m8Ez4gLSbHftiQvg,2d0aa703beebc1996c58711a6e4b04e3,"This spot offers a great, affordable east week...",2021-03-31 16:55:10,0.8549
6990277,mm6E4FbCMwJmb7kPDZ5v2Q,eaac0ea0e1fb9aab851008575a49c98c,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30,0.6792
6990278,YwAMC-jvZ1fvEUum6QkEkw,0dab15fea0a38d0f706afeed71945194,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27,0.9982
6990279,6JehEvdoCvZPJ_XIxnzIIw,c8f2c9be46a45c9378399c7afd1066af,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47,0.9882

## **生成边文件**

In [1]:
import pandas as pd
import torch
user_ids = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Yelp/user_ids.csv')
review_ids = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Yelp/review_ids.csv')

user_ids['user_pos_id'] = user_ids.index
review_ids['review_pos_id'] = review_ids.index

review_user_rels = pd.read_csv('/content/drive/MyDrive/user_review_rels.csv')

In [2]:
review_user_rels

,user_id,review_id,text,date,sentiment_score
0,mh_-eMZ6K5RLWhZyISBhwA,14b7eabcf7250cac8884af3677c0b8af,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,0.8597
1,OyoGAe7OKpv6SyGZT5g77Q,0baa75e21e14c71f057e9ad453082867,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18,0.9858
2,8g_iMtfSiwikVnbP2etR0A,af722966fda3d69d36a0ac9de0292e51,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30,0.9201
3,_7bHUi9Uuf5__HHc_Q8guQ,50d32c50663bd2b424f57561a09cbfda,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,0.9588
4,bcjbaE6dDog4jkNY91ncLQ,a3383e594a74583aabcda6de8e3cb8a8,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15,0.9804
...,...,...,...,...,...
6989555,qskILQ3k0I_qcCMI-k6_QQ,94e309064b7859538c514528e80db157,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20,0.1027
6989556,Zo0th2m8Ez4gLSbHftiQvg,2d0aa703beebc1996c58711a6e4b04e3,"This spot offers a great, affordable east week...",2021-03-31 16:55:10,0.8549
6989557,mm6E4FbCMwJmb7kPDZ5v2Q,eaac0ea0e1fb9aab851008575a49c98c,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30,0.6792
6989558,YwAMC-jvZ1fvEUum6QkEkw,0dab15fea0a38d0f706afeed71945194,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27,0.9982
6989559,6JehEvdoCvZPJ_XIxnzIIw,c8f2c9be46a45c9378399c7afd1066af,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47,0.9882

In [3]:
user_review_rels_time = review_user_rels[['user_id', 'review_id', 'date', 'sentiment_score']].copy()

In [4]:
user_review_rels_time

,user_id,review_id,date,sentiment_score
0,mh_-eMZ6K5RLWhZyISBhwA,14b7eabcf7250cac8884af3677c0b8af,2018-07-07 22:09:11,0.8597
1,OyoGAe7OKpv6SyGZT5g77Q,0baa75e21e14c71f057e9ad453082867,2012-01-03 15:28:18,0.9858
2,8g_iMtfSiwikVnbP2etR0A,af722966fda3d69d36a0ac9de0292e51,2014-02-05 20:30:30,0.9201
3,_7bHUi9Uuf5__HHc_Q8guQ,50d32c50663bd2b424f57561a09cbfda,2015-01-04 00:01:03,0.9588
4,bcjbaE6dDog4jkNY91ncLQ,a3383e594a74583aabcda6de8e3cb8a8,2017-01-14 20:54:15,0.9804
...,...,...,...,...
6989555,qskILQ3k0I_qcCMI-k6_QQ,94e309064b7859538c514528e80db157,2014-12-17 21:45:20,0.1027
6989556,Zo0th2m8Ez4gLSbHftiQvg,2d0aa703beebc1996c58711a6e4b04e3,2021-03-31 16:55:10,0.8549
6989557,mm6E4FbCMwJmb7kPDZ5v2Q,eaac0ea0e1fb9aab851008575a49c98c,2019-12-30 03:56:30,0.6792
6989558,YwAMC-jvZ1fvEUum6QkEkw,0dab15fea0a38d0f706afeed71945194,2022-01-19 18:59:27,0.9982
6989559,6JehEvdoCvZPJ_XIxnzIIw,c8f2c9be46a45c9378399c7afd1066af,2018-01-02 22:50:47,0.9882

In [5]:
user_review_rels = pd.merge(pd.merge(user_review_rels_time, user_ids, left_on='user_id', right_on='user_id:ID'), review_ids, left_on='review_id', right_on='review_id:ID')

In [6]:
user_review_rels

,user_id,review_id,date,sentiment_score,user_id:ID,user_pos_id,review_id:ID,review_pos_id
0,mh_-eMZ6K5RLWhZyISBhwA,14b7eabcf7250cac8884af3677c0b8af,2018-07-07 22:09:11,0.8597,mh_-eMZ6K5RLWhZyISBhwA,124234,14b7eabcf7250cac8884af3677c0b8af,0
1,mh_-eMZ6K5RLWhZyISBhwA,a7314f2acfc11c4531ddbd77effa97d6,2017-03-05 14:26:14,0.8379,mh_-eMZ6K5RLWhZyISBhwA,124234,a7314f2acfc11c4531ddbd77effa97d6,45632
2,mh_-eMZ6K5RLWhZyISBhwA,332c6c81bd8b3fcb9566442add52f2b0,2018-04-25 17:04:09,0.9697,mh_-eMZ6K5RLWhZyISBhwA,124234,332c6c81bd8b3fcb9566442add52f2b0,264558
3,mh_-eMZ6K5RLWhZyISBhwA,6b36c9710154c217adfeb672c9d29277,2017-02-12 20:12:42,0.9224,mh_-eMZ6K5RLWhZyISBhwA,124234,6b36c9710154c217adfeb672c9d29277,822507
4,mh_-eMZ6K5RLWhZyISBhwA,02d9398a829783005f777b5570d5eabd,2017-03-02 22:03:57,0.9462,mh_-eMZ6K5RLWhZyISBhwA,124234,02d9398a829783005f777b5570d5eabd,925818
...,...,...,...,...,...,...,...,...
6989553,Is5IWDXWtqVMCVtedjJIQQ,181d9374ca3a48b98c957c2a1fdbbb99,2018-11-09 18:09:35,0.9837,Is5IWDXWtqVMCVtedjJIQQ,1849913,181d9374ca3a48b98c957c2a1fdbbb99,6989527
6989554,99_EbpwCcCRAa66YgorrKA,a0383d50dd7cf0720088367c7008a14c,2016-04-27 04:14:52,-0.7506,99_EbpwCcCRAa66YgorrKA,1908824,a0383d50dd7cf0720088367c7008a14c,6989536
6989555,-AkziDwQ8hv2COTDBBUpig,7c3f4650cc068c25378d70ff768cacff,2022-01-18 03:48:44,0.6003,-AkziDwQ8hv2COTDBBUpig,1897371,7c3f4650cc068c25378d70ff768cacff,6989543
6989556,s67G457QlHSvk5RjOMN91w,13ecf95eba8387b2bbbad2a8f9a26302,2022-01-18 15:24:44,0.8832,s67G457QlHSvk5RjOMN91w,1969447,13ecf95eba8387b2bbbad2a8f9a26302,6989548
6989557,_XVdmFWSgTN6YlojUxixTA,2eb251fed08ed248c5e1a8b68f238ed5,2022-01-17 20:59:01,0.7835,_XVdmFWSgTN6YlojUxixTA,1938727,2eb251fed08ed248c5e1a8b68f238ed5,6989553

## **创建user-review的边，计算边的权重**

In [19]:
import numpy as np

In [7]:
# 转换date格式
user_review_rels['date'] = pd.to_datetime(user_review_rels['date'])

In [8]:
user_review_rels_w = user_review_rels[['user_pos_id', 'review_pos_id', 'sentiment_score', 'date' ]].copy()

In [10]:
user_review_rels_w.head()

   user_pos_id  review_pos_id  sentiment_score                date
0       124234              0           0.8597 2018-07-07 22:09:11
1       124234          45632           0.8379 2017-03-05 14:26:14
2       124234         264558           0.9697 2018-04-25 17:04:09
3       124234         822507           0.9224 2017-02-12 20:12:42
4       124234         925818           0.9462 2017-03-02 22:03:57

In [12]:
# 获取用户的交互数据
user_concat = user_review_rels_w['user_pos_id'].unique()
user_concat

array([ 124234,   51327,   98159, ..., 1897371, 1969447, 1938727])

In [14]:
selected_users_interactions = user_review_rels_w[user_review_rels_w['user_pos_id'].isin(user_concat)]

In [16]:
# 获取选出用户的最早交互时间
earliest_interaction_time = selected_users_interactions.groupby('user_pos_id')['date'].min()

In [17]:
earliest_interaction_time

user_pos_id
0         2009-04-26 22:28:18
1         2010-10-11 15:46:45
2         2009-03-09 08:00:05
3         2008-07-22 01:35:24
4         2015-10-17 01:59:38
                  ...
1987892   2018-02-27 02:09:23
1987893   2019-07-05 20:34:24
1987894   2017-02-05 07:05:21
1987895   2020-05-10 18:38:38
1987896   2021-08-04 04:29:52
Name: date, Length: 1987653, dtype: datetime64[ns]

**计算权重**

In [18]:
# 假设时间衰减因子gamma为0.001
gamma = 0.001
# 设置阈值为1小时
threshold = pd.Timedelta(hours=168)

In [20]:
# 计算时间差并应用时间衰减函数和阈值
selected_users_interactions['time_difference'] = selected_users_interactions.apply(lambda row: (row['date'] - earliest_interaction_time[row['user_pos_id']]).total_seconds(), axis=1)
selected_users_interactions['time_decay'] = np.exp(-gamma * selected_users_interactions['time_difference'])
selected_users_interactions['time_decay'] = np.where(selected_users_interactions['time_difference'] > threshold.total_seconds(), 0.01, selected_users_interactions['time_decay'])

# 计算每个用户与项目的权重
selected_users_interactions['edge_weight'] = selected_users_interactions['sentiment_score'] * selected_users_interactions['time_decay']

print("每个用户与项目的权重:")
print(selected_users_interactions)

每个用户与项目的权重:
         user_pos_id  review_pos_id  sentiment_score                date  \
0             124234              0           0.8597 2018-07-07 22:09:11
1             124234          45632           0.8379 2017-03-05 14:26:14
2             124234         264558           0.9697 2018-04-25 17:04:09
3             124234         822507           0.9224 2017-02-12 20:12:42
4             124234         925818           0.9462 2017-03-02 22:03:57
...              ...            ...              ...                 ...
6989553      1849913        6989527           0.9837 2018-11-09 18:09:35
6989554      1908824        6989536          -0.7506 2016-04-27 04:14:52
6989555      1897371        6989543           0.6003 2022-01-18 03:48:44
6989556      1969447        6989548           0.8832 2022-01-18 15:24:44
6989557      1938727        6989553           0.7835 2022-01-17 20:59:01

         time_difference  time_decay  edge_weight
0             47093565.0        0.01     0.008597
1              4816188.0        0.01     0.008379
2             40768063.0        0.01     0.009697
3              3022576.0        0.01     0.009224
4              4584451.0        0.01     0.009462
...                  ...         ...          ...
6989553              0.0        1.00     0.983700
6989554              0.0        1.00    -0.750600
6989555              0.0        1.00     0.600300
6989556              0.0        1.00     0.883200
6989557              0.0        1.00     0.783500

[6989558 rows x 7 columns]

In [22]:
selected_users_interactions.head(50)

,user_pos_id,review_pos_id,sentiment_score,date,time_difference,time_decay,edge_weight
0,124234,0,0.8597,2018-07-07 22:09:11,47093565.0,1.000000e-02,8.597000e-03
1,124234,45632,0.8379,2017-03-05 14:26:14,4816188.0,1.000000e-02,8.379000e-03
2,124234,264558,0.9697,2018-04-25 17:04:09,40768063.0,1.000000e-02,9.697000e-03
3,124234,822507,0.9224,2017-02-12 20:12:42,3022576.0,1.000000e-02,9.224000e-03
4,124234,925818,0.9462,2017-03-02 22:03:57,4584451.0,1.000000e-02,9.462000e-03
5,124234,1077217,0.9734,2018-10-29 21:54:59,56942313.0,1.000000e-02,9.734000e-03
6,124234,1168357,0.9864,2018-02-11 03:07:30,34410664.0,1.000000e-02,9.864000e-03
7,124234,1573839,0.9156,2017-01-08 20:45:48,562.0,5.700678e-01,5.219541e-01
8,124234,2129050,0.1695,2018-01-21 18:08:11,32650305.0,1.000000e-02,1.695000e-03
9,124234,2150684,0.9889,2017-01-29 15:48:51,1797145.0,1.000000e-02,9.889000e-03
10,124234,2406161,0.5719,2017-04-03 23:22:10,7353944.0,1.000000e-02,5.719000e-03
11,124234,2878099,0.4915,2018-06-21 22:34:21,45712675.0,1.000000e-02,4.915000e-03
12,124234,3278085,0.9358,2017-06-22 21:19:52,14258606.0,1.000000e-02,9.358000e-03
13,124234,3512771,0.4912,2017-02-09 17:29:08,2753562.0,1.000000e-02,4.912000e-03
14,124234,3597448,0.9715,2017-03-05 15:37:21,4820455.0,1.000000e-02,9.715000e-03
15,124234,3669641,0.9776,2017-01-08 21:30:55,3269.0,3.804445e-02,3.719226e-02
16,124234,4676439,0.9637,2018-08-26 21:26:34,51411008.0,1.000000e-02,9.637000e-03
17,124234,4938486,0.9686,2017-02-11 03:19:18,2875372.0,1.000000e-02,9.686000e-03
18,124234,5231892,0.8655,2017-04-02 15:56:06,7240780.0,1.000000e-02,8.655000e-03
19,124234,5302803,0.7256,2018-07-01 23:10:39,46578853.0,1.000000e-02,7.256000e-03
20,124234,5601528,0.9348,2017-02-09 17:31:10,2753684.0,1.000000e-02,9.348000e-03
21,124234,5711973,0.9629,2017-06-22 21:18:55,14258549.0,1.000000e-02,9.629000e-03
22,124234,5755049,0.7494,2017-01-08 20:36:26,0.0,1.000000e+00,7.494000e-01
23,124234,5788066,0.9128,2017-04-03 23:24:23,7354077.0,1.000000e-02,9.128000e-03
24,124234,5833296,0.9403,2018-05-16 00:55:19,42524333.0,1.000000e-02,9.403000e-03
25,124234,6285458,0.9786,2017-12-10 22:38:55,29037749.0,1.000000e-02,9.786000e-03
26,124234,6551595,0.9917,2017-02-18 20:56:04,3543578.0,1.000000e-02,9.917000e-03
27,124234,6626383,0.9874,2017-01-14 00:06:09,444583.0,8.318717e-194,8.213901e-194
28,51327,1,0.9858,2012-01-03 15:28:18,0.0,1.000000e+00,9.858000e-01
29,51327,54141,0.9882,2015-04-16 16:34:29,103597571.0,1.000000e-02,9.882000e-03
30,51327,679712,0.9528,2017-05-19 22:31:33,169628595.0,1.000000e-02,9.528000e-03
31,51327,2323062,0.9513,2017-06-11 00:01:22,171534784.0,1.000000e-02,9.513000e-03
32,51327,2497582,0.8217,2019-11-02 10:16:16,247085278.0,1.000000e-02,8.217000e-03
33,51327,5855748,-0.3517,2016-04-11 12:37:22,134773744.0,1.000000e-02,-3.517000e-03
34,51327,5911798,0.9732,2018-11-07 15:17:25,215999347.0,1.000000e-02,9.732000e-03
35,51327,6630982,-0.5367,2019-07-17 16:33:10,237776692.0,1.000000e-02,-5.367000e-03
36,98159,2,0.9201,2014-02-05 20:30:30,9924933.0,1.000000e-02,9.201000e-03
37,98159,147444,0.7050,2013-10-13 23:34:57,0.0,1.000000e+00,7.050000e-01
38,98159,318009,-0.5719,2015-02-15 20:20:59,42324362.0,1.000000e-02,-5.719000e-03
39,98159,485501,0.8500,2014-02-04 16:02:17,9822440.0,1.000000e-02,8.500000e-03
40,98159,584126,0.9837,2021-01-06 14:59:47,228237890.0,1.000000e-02,9.837000e-03
41,98159,601922,0.8176,2014-02-03 14:34:43,9730786.0,1.000000e-02,8.176000e-03
42,98159,693582,0.9774,2021-01-01 23:41:53,227837216.0,1.000000e-02,9.774000e-03
43,98159,1083071,0.9822,2014-02-02 23:13:07,9675490.0,1.000000e-02,9.822000e-03
44,98159,1168764,0.9961,2019-06-05 17:06:53,178047116.0,1.000000e-02,9.961000e-03
45,98159,1191103,0.9612,2015-02-15 20:02:35,42323258.0,1.000000e-02,9.612000e-03
46,98159,1226193,0.9916,2019-06-06 22:06:49,178151512.0,1.000000e-02,9.916000e-03
47,98159,1236951,0.1154,2021-01-02 17:54:41,227902784.0,1.000000e-02,1.154000e-03
48,98159,1353952,0.9842,2021-01-06 15:45:21,228240624.0,1.000000e-02,9.842000e-03
49,98159,1553224,0.3400,2015-12-27 16:00:44,69524747.0,1.000000e-02,3.400000e-03